.Header__link {
  font-size: 32px;
}

.Header__logo {
  display: inline-block;
  color: #fff;
  transform: skew(-23deg);
  line-height: 64px;
}

.Header__icon {
  margin-left: 8px;
  transform: skew(18deg, -18deg);
}
