<div class="CashierModal">
  <nz-spin [nzSpinning]="loading">
    <nz-steps [nzCurrent]="stage - 1" [nzStartIndex]="0" *ngIf="stage > 0">
      <nz-step nzTitle="User Data"></nz-step>
      <nz-step nzTitle="Amount"></nz-step>
      <nz-step nzTitle="Additional Data"></nz-step>
    </nz-steps>

    <ng-container [ngSwitch]="stage">
      <ng-container *ngSwitchCase="0">
        <app-method-selection
          [methods]="methods"
          [selectedMethodName]="selectedMethod?.name"
          (methodSelected)="onMethodSelected($event)"
        ></app-method-selection>
      </ng-container>

      <ng-container *ngSwitchCase="1">
        <app-user-data-form
          (formValidityChanged)="onFormValidityChanged($event)"
        ></app-user-data-form>
      </ng-container>

      <ng-container *ngSwitchCase="2">
        <app-amount-form
          (formValidityChanged)="onFormValidityChanged($event)"
        ></app-amount-form>
      </ng-container>

      <ng-container *ngSwitchCase="3">
        <app-additional-data-form
          [method]="selectedMethod"
          (formValidityChanged)="onFormValidityChanged($event)"
        ></app-additional-data-form>
      </ng-container>

      <ng-container *ngSwitchCase="4">
        <app-thank-you></app-thank-you>
      </ng-container>
    </ng-container>
  </nz-spin>
</div>
